{% extends "core/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h3>Dashboard</h3>
<div class="row g-3">
  <div class="col-md-4">
    <a class="btn btn-outline-primary w-100" href="maestros.html">Maestros</a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-outline-success w-100" href="productos_list.html">Productos</a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-outline-secondary w-100" href="usuarios_list.html">Usuarios</a>
  </div>
</div>
{% endblock %}
